body {
    max-width: 800px;
    margin: 20px auto;
    font-family: 'Noto Serif', serif;

    /*
    font-family: 'Noto Serif', serif;
    font-family: 'Montserrat', sans-serif;
    */
}

#name {
    border-bottom: 1px solid #33485e;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 0;
}

#nav-links ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#nav-links ul li {
    display: inline-block;
}

#nav-links ul li::after {
    content: ' | '
}

.personal-title {
    text-align: center;
    color: #6a747e;
    font-style: italic;
}

.center-top-content {
    width: 65%;
    margin: 0 auto;
}

.main-content {
    width: 80%;
    margin: 0 auto;
}

.highlight {
    background-color: #33485e;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
}

.introduction {
    line-height: 1.6;
}

h2 {
    background-color: #33485e;
    color: white;
    padding: 5px;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
    font-style: italic;
}

.container-introduction {
    /* CLEARFIX HACK */
    overflow: auto;
}

.container-experience h3, .container-experience h4, .container-experience h5 {
    margin: 5px 0;
}

.container-experience p {
    font-size: 14px;
}

img {
    max-width: 600px;
    width: 33%;
    float: right;

    /* To fix alignment */
    margin-top: 20px;
}
